@import url("https://api.fontshare.com/v2/css?f[]=general-sans@500,300&f[]=cabinet-grotesk@500,300&f[]=chillax@500,300&f[]=gambarino@400&f[]=boska@500,400&f[]=aktura@400&f[]=pramukh-rounded@400,300&display=swap");

body {
  background-color: #09090b;
  color: white;
  font-family: "General Sans";
  font-size: 10px;
}
.frame {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 1080px;
  width: 95%;
  max-height: 1080px;
}

.intro {
  text-align: center;
}

.aspect-ratios {
  cursor: pointer;
  padding: 2rem;
}
.intro h1 {
  font-size: 4rem;
  margin-bottom: 0px;
}

.text-on-img {
  font-size: 60px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  cursor: move;
}

.top {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
/* option {
  font-family: attr(data-font font), sans-serif;
} */

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-text {
  text-align: center;
  color: white;
  font-size: 80px;
  font-weight: bold;
  font-family: "Boska", serif;
}

.imgtype-div {
  display: flex;
  justify-content: space-evenly;
}

.pure-image,
.color-bg,
.gradient-bg {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0.1rem solid white;
  cursor: pointer;
}
.bottom {
  display: flex;
}
.chosen {
  outline: 0.5rem solid blue;
}

.img-select-div {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.img-select-div img {
  max-width: 100%;
  width: 250px;
  margin-block-start: 1rem;
}

.chosen-img {
  outline: 0.3rem solid blue;
}
